<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Add new movie</title>
</head>
<body>
    <form th:action="@{addMovie/}" method="post" th:object="${movie}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label th:text="Title " for="title">Title: </label>
            <input type="text" id="title" th:value="*{title}" name="title" />
        </div>
        <div>
            <label th:text="Score " for="score">Score: </label>
            <input type="text" id="score" th:value="*{score}" name="score" />
        </div>
        <input type="submit" value="Add new movie">
    </form>
</body>
</html>